$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !default;

$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Monaco', monospace !default;

$body-color: #333;
$p-color: #333;
$h-color: #111;
$a-color: #337ab7;

$base-font-size: 16px;

$font-gg-sans: 'gg sans', sans-serif;

$text-color: rgb(34, 34, 34) !default;

$brand-color: rgb(229, 0, 80) !default;

$light-grey: rgb(237, 237, 237) !default;

$mid-grey: rgb(153, 153, 153) !default;

$dark-grey: rgb(68, 68, 68) !default;

$gray-100: rgb(243, 244, 246) !default;
$gray-400: rgb(156, 163, 175) !default;
$gray-500: rgb(107, 114, 128) !default;
$gray-600: rgb(75, 85, 99) !default;
$gray-700: rgb(55, 65, 81) !default;
$gray-900: rgb(17, 24, 39) !default;

$assets-dir: '/assets/' !default;
$images-dir: '/docs/assets/images/' !default;
$plugins-dir: '/docs/assets/images/' !default;

$height-header: 80px;
$height-open-menu-responsive: 45px;
$width-sidebar: 300px;
$color-border: rgba(0, 0, 0, 0.2);
