@use '../abstracts/variables' as *;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: $brand-color;
    text-decoration: none;
}

img {
    margin: 8px 0;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 9999px;

    &:hover {
        background: #cbd5e1;
    }
}

summary {
    cursor: pointer;
    display: list-item;
}

summary::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}