@use '../abstracts/variables' as *;

body {
    color: $dark-grey;
    font-style: normal;
    font-weight: 400;
    font-size: $base-font-size;
    font-family: $font-gg-sans;
    margin: 0;
}
p {
    color: $dark-grey;
}
a {
    color: $a-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-grey;
    font-style: normal;
    font-weight: 700;
    font-family: $font-gg-sans;
}

dd {
    margin-left: 25px;
}
