@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#footer {
    background-color: #23272a;
    padding-top: 64px;
    padding-bottom: 32px;
    color: white;

    .footer-container {
        margin: 0 auto;
        padding: 0 16px;
        max-width: 1200px;

        .footer-content {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 32px;
            margin-bottom: 32px;

            @include min-media('medium') {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            .content-item__title {
                margin-bottom: 16px;
                color: #5865f2;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }

            .content-item__list {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 24px;
                list-style: none;

                li {
                    margin-top: 8px;

                    a {
                        color: $gray-400;

                        &:hover {
                            color: white;
                            text-decoration: none;
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .footer-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $gray-700;
            padding-top: 32px;

            @include min-media('medium') {
                flex-direction: row;
            }

            .footer-bottom__logo {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                @include min-media('medium') {
                    margin-bottom: 0;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 4.92px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }

                    img {
                        margin-right: 8px;
                        width: 44px;
                        height: 44px;
                    }

                    span {
                        color: white;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
