@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#header {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
    background-color: transparent;
    width: 100%;
    height: $height-header;
    border-bottom: 1px solid $color-border;

    .header-container {
        position: fixed;
        z-index: 100;
        width: 100%;

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $height-header;

            @include min-media(medium) {
                padding: 0 4px;
            }

            @include media(medium) {
                padding: 14px 4px;
                height: $height-header;
            }

            .menu__nav {
                display: flex;
                align-items: center;
                // gap: 40px;

                .header__logo {
                    display: flex;
                    align-items: center;
                    gap: 4.92px;
                    text-decoration: none;
                    width: $width-sidebar;

                    @include media(medium) {
                        width: auto;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    .header__logo-img {
                        aspect-ratio: 1/1;
                        width: 44px;
                        height: 44px;
                        object-fit: cover;
                    }

                    .header__logo-text {
                        color: $gray-900;
                        font-weight: 600;
                        font-size: 22.15px;
                        line-height: 26.58px;
                        letter-spacing: 0.06em;
                    }
                }

                .menu__nav-items {
                    display: none;
                    align-items: center;
                    gap: 32px;

                    @include min-media(medium) {
                        display: flex;
                    }

                    .menu__nav-item {
                        display: flex;
                        align-items: center;
                        transition: color 0.2s ease;
                        padding: 0 2px;
                        color: $gray-600;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-decoration: none;

                        &:hover {
                            color: #5865f2;
                            text-decoration: none;
                        }
                    }
                }
            }

            .menu__bar {
                width: fit-content;

                .menu__bar-button {
                    transition: color 0.3s ease;
                    border: none;
                    border-radius: 6px;
                    background-color: transparent;
                    padding: 8px;
                    max-height: 40px;

                    &:hover {
                        background-color: $gray-100;
                        color: $gray-900;
                    }

                    @include min-media(medium) {
                        display: none;
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                        color: $gray-600;

                        &:hover {
                            background-color: $gray-100;
                            color: $gray-900;
                        }
                    }
                }
            }
        }
    }

    .sidebar__menu {
        display: none;
        position: fixed;
        top: $height-header;
        right: 0;
        left: 0;
        z-index: 100;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        height: $height-open-menu-responsive;
        border-bottom: 1px solid $color-border;

        @include media(medium) {
            display: flex;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(60, 60, 60, .7);
            cursor: pointer;
            transition: color fill 0.3s ease;

            &:hover {
                color: $gray-900;
                svg {
                    fill: $gray-900;
                }
            }

            svg {
                width: 20px;
                height: 20px;
                fill: rgba(60, 60, 60, .7);
            }
        }
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 72px;
        right: 0;
        left: 0;
        z-index: 100;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
            0 1px 2px -1px rgb(0 0 0 / 0.1);
        border-top: 1px solid $gray-100;
        background-color: white;

        @include min-media(medium) {
            display: none;
        }

        .mobile-menu__content {
            margin: 0 auto;
            padding: 12px 16px;
            max-width: 1200px;

            .mobile-menu__nav {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .mobile-menu__nav-item {
                    transition: color 0.2s ease;
                    transition-property: background-color, border-color;
                    padding: 12px 16px;
                    padding: 8px 0;
                    color: $gray-600;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: none;

                    &:hover {
                        color: #5865f2;
                    }
                }
            }
        }
    }
}

#header.scrolled {
    backdrop-filter: blur(12px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.9);
}

.selected {
    color: #5865f2 !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 4px !important;
}

.mobile-menu.active {
    display: block !important;
}
