/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5865f2; 
  --ifm-color-primary-dark: #3f4ae0;     
  --ifm-color-primary-darker: #2e3ad8;  
  --ifm-color-primary-darkest: #1e29c7;  
  --ifm-color-primary-light: #6875f4;    
  --ifm-color-primary-lighter: #7e89f5;  
  --ifm-color-primary-lightest: #a5acf8; 
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-danger: #ff0000;
  --ifm-color-warning: #ffa500;
  --ifm-color-success: #00ff00;
  --ifm-color-info: #0000ff;
  --ifm-color-note: #666666;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #404de8;
  --ifm-color-primary-darker: #2f3cd8;
  --ifm-color-primary-darkest: #212ccc;
  --ifm-color-primary-light: #5a64ff;
  --ifm-color-primary-lighter: #737cff;
  --ifm-color-primary-lightest: #8e96ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 9999px;

  &:hover {
    background: #cbd5e1;
  }
}
.theme-doc-toc-desktop, .theme-doc-toc-mobile {
  display: none;
}

.navbar {
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar__inner {
  @media (min-width: 997px) {
    margin: 0 10%;
  }
}

.navbar__link svg.iconExternalLink_nPIU {
  display: none !important;
}

.margin-bottom--sm {
  display: flex;
  align-items: start;
  justify-content: start;
  border-top: 1px solid rgb(55 65 81);
  margin-bottom: 0.5rem;
}

.footer__title {
  color: var(--ifm-color-primary);
  font-size: 1.2rem;
}