.card__container {
    --ifm-link-color: var(--ifm-color-emphasis-800);
    --ifm-link-hover-color: var(--ifm-color-emphasis-700);
    --ifm-link-hover-decoration: none;
    border: 1px solid var(--ifm-color-emphasis-200);
    transition: all var(--ifm-transition-fast) ease;
    transition-property: border, box-shadow;
    box-shadow: 0 1.5px 3px #00000026;
    height: 100%;
    &:hover {
      border: 1px solid var(--ifm-color-primary);
      box-shadow: 0 1.5px 3px #00000026;
    }
  }
  
  .card__title {
    font-size: 1.2rem;
  }
  
  .card__description {
    font-size: 0.8rem;
  }